body {
	margin: 0;
	padding: 5px 0 0 0;
	font: 12px "Lucida Grande", Arial, sans-serif;
}

/*
@media (min-width: 925px) {
	canvas {
		float: left;
	}

	#controls {
		margin-left: 725px;
		width: 200px;
	}
}*/

canvas {
	float: left;
	margin: 0 5px 5px 0;
}

.button {
	-webkit-border-radius: 5px;
	background: #2B64FF;
	border: 1px solid #0044FF;
	color: #fff;
	cursor: pointer;
	float: left;
	font-weight: bold;
	margin: 5px;
	padding: 10px;
	text-align: center;
	width: 14em;
	height: 1.3em;
}

.option {
	-webkit-border-radius: 5px;
	background: #B0E5FF;
	border: 1px solid #59C8FF;
	cursor: pointer;
	float: left;
	margin: 5px;
	padding: 10px;
	text-align: center;
	width: 14em;
	height: 1.3em;
}

.option.enabled {
	background: #96FFA3;
	border: 1px solid #1FE036;
}

.option:after {
	content: " ✗";
}

.option.enabled:after {
	content: " ✓";
}

.info {
	width: 28em;
	float: left;
	margin: 5px;
	border: 1px solid #aaa;
	background: #f3f3f3;
	padding: 10px;
	-webkit-border-radius: 5px;
	text-align: center;
}