body {
	margin: 0;
	padding: 5px 0 0 0;
	font: 12px "Lucida Grande", Arial, sans-serif;
}

/*
@media (min-width: 925px) {
	canvas {
		float: left;
	}

	#controls {
		margin-left: 725px;
		width: 200px;
	}
}*/

canvas {
	float: left;
	margin: 0 5px 5px 0;
}

#controls {
	padding: 5px 5px;
	float: left;
}

.button {
	background: #2B64FF;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	-webkit-border-radius: 5px;
	width: 14em;
	text-align: center;
	cursor: pointer;
	border: 1px solid #0044FF;
	float: left;
	margin: 5px;
}

.option {
	float: left;
	display: block;
	margin: 5px;
	background: #B0E5FF;
	border: 1px solid #59C8FF;
	padding: 10px;
	-webkit-border-radius: 5px;
	cursor: pointer;
	width: 14em;
	text-align: center;
}

.option.enabled {
	background: #96FFA3;
	border: 1px solid #1FE036;
}

.option:after {
	content: " ✗";
}

.option.enabled:after {
	content: " ✓";
}